# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ / Android Studio
*.iml
*.ipr
*.iws
.idea/

# Visual Studio Code
.vscode/

# Flutter / Dart
doc/api/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
pubspec_template.yaml

# Android
android/.gradle/
android/captures/
android/local.properties
android/**/GeneratedPluginRegistrant.java
android/.kotlin/
android/.cxx/

# Keystores and signing keys
*.keystore
*.jks
key.properties

# Symbols
app.*.symbols

# Firebase credentials
android/app/google-services.json
